ocdskit
ocdsextensionregistry
ocds-babel[markdown]
oauth2client
pydrive
Sphinx==2.2.1
-e git+https://github.com/readthedocs/commonmark.py.git@dafae75015cc342f3fddb499674bab97ac4a6a96#egg=commonmark -e git+https://github.com/jpmckinney/recommonmark.git@hotfix#egg=recommonmark
